@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #949597;    
    height: 100%;
    margin: 0;
    padding: 0;
}

/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.LogoHeader{
    width: 50px;
    height: 50px;
}
.contenedor-header{
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #1f283e;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    padding: 0 125px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtRojo{
    color:#feec02;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #feec02;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #feec02;
}
.nav-responsive{
    display: none;
    font-size: 25px;
}

/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio{
    height: 100vh;
    background:linear-gradient(rgba(0, 1, 3, 0.5), rgba(0,0,0,.7)),url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
}
.inicio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.inicio .info{
    width:fit-content;
    margin: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.centrada-imagen {
    display: block;
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
    width: 300px;
    height: 300px;
}
.inicio .info h2{
    font-size: 4rem;
    letter-spacing: 3px;
}
.inicio .info p{
    margin: 20px;
    color: #797e8e;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.inicio .info .btn-mas{
    width: 50px;
    margin: auto;
    height: 50px;
    border: 2px solid #feec02;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #feec02;
    margin-top: 50px;
    text-decoration: none;
}
.opciones{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.inicio .opciones .opcion{
    border-top: 2px solid #797e8e;
    padding: 7px;
    color: #797e8e;
    margin: 0 20px;
}

/* *********** */
/* SECCION NOSOTROS */
/* *********** */
.nosotros{
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    background-color: #949597;
    padding: 100px 20px;
}
.nosotros .fila{
    display: flex;
    align-items: center;
}
.nosotros .fila .col{
    width: 50%;
}
.nosotros .fila .col img{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.nosotros .fila .col .contenedor-titulo{
    display: flex;
    align-items:center
}
.nosotros .fila .col .contenedor-titulo .numero{
    color: #feec02;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.nosotros .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.nosotros .fila .col .contenedor-titulo .info .frase{
    color: #feec02;
}
.nosotros .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.nosotros .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.nosotros .fila .col .p-especial{
    font-weight: bold;
}
.nosotros hr{
    margin-bottom: 30px;
}
.nosotros .fila-nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nosotros .fila-nosotros .frase{
    font-size: 18px;
    font-weight: 600;
}
.nosotros .fila-nosotros h2{
    font-size: 2.5rem;
}
.nosotros .fila-nosotros button{
    background-color: #feec02;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* ********** */
/* SERVICIOS */
/* ********** */
.servicios{
    color: #fff;
    position: relative;
}
.servicios .contenido-seccion{
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-servicios.jpg);
    background-size: cover;
    background-position: center center;
    margin: auto;
    padding: 0 20px;
}
.servicios .contenido-seccion .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.servicios .contenido-seccion .fila .col{
    width: 50%;
}
.servicios .contenido-seccion .fila .col img{
    display: block;
    width: 50%;
    margin: auto;
}
.servicios .fila .col .contenedor-titulo{
    display: flex;
    align-items: center;
}
.servicios .fila .col .contenedor-titulo .numero{
    color: #feec02;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.servicios .fila .col .contenedor-titulo .info{
    margin-left: 30px;
}
.servicios .fila .col .contenedor-titulo .info .frase{
    color: #feec02;
}
.servicios .fila .col .contenedor-titulo .info h2{
    font-size: 3rem;
}
.servicios .fila .col p{
   margin-bottom: 10px;
   line-height: 28px;
}
.servicios .fila .col .p-especial{
    font-weight: bold;
}
i {
    font-style: normal;
}
.servicios .info-servicios{
    max-width: 800px;
    margin: auto;
}
.servicios .info-servicios table{
    text-align: center;
    background-color: #646363;
    color: #000000;
    border-collapse: collapse;
    position: relative;
    bottom: 100px;
    width: 100%;
    overflow-x: auto;
    display: block;
}
.servicios .info-servicios table td{
    padding: 30px;
    border: 1px solid #000000
}
.servicios .info-servicios table td i{
    color: #feec02;
    font-size: 2.5rem;
    margin-bottom: 20px;

}
.servicios .info-servicios h3{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.servicios .info-servicios p{
    line-height: 30px;
}

/* ********** */
/* GALERIA */
/* ********** */
/* LIGHT BOX */
.img-galeria{
    cursor: pointer;
}
.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out; /* transicion lenta */
}
.agregar-imagen{
    width: 45%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
    margin-top: 5%;
}
.showImage{
    transform: scale(1);
}
.show{
    transform: translate(0);
}
.close{
    position: absolute;
    top: 16%;
    right: 50px;
    width: 40px;
    cursor: pointer;
}
.galeria{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo-galeria.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
}
.galeria .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}
.galeria .contenedor-titulo{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.galeria  .contenedor-titulo .numero{
    color: #feec02;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.galeria .contenedor-titulo .info{
    margin-left: 30px;
}
.galeria .contenedor-titulo .info .frase{
    color: #feec02;
}
.galeria .contenedor-titulo .info h2{
    font-size: 3rem;
}
.galeria .fila{
    display: flex;
}
.galeria .fila .col img{
    width: 100%;
    display: block;
}

/* *********** */
/* ENTRENADORES */
/* *********** */
.equipo{
    max-width: 1100px;
    margin: auto;
    padding-top: 95px;
    background-color: #949597;
}
.TituloEquipo{
    color: #fff;
}
.p-especial{
    font-weight: bold;
    color: #fff;
}
.equipo .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.equipo  .contenedor-titulo .numero{
    color: #feec02;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.equipo .contenedor-titulo .info{
    margin-left: 30px;
}
.equipo .contenedor-titulo .info .frase{
    color: #feec02;
}
.equipo .contenedor-titulo .info h2{
    font-size: 3rem;
}
.equipo .fila{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.equipo .fila .col{
    width: 25%;
}
.equipo .fila .col img{
   max-height: 400px;
   display: block;
   margin: auto;
}
.equipo .fila .info{
    border: 5px solid #000000;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(#feec02, #948a01);
    color: #000000;
}
.equipo .fila .info p{
    margin: 20px 0;
}
.equipo .fila .info a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

/* *********** */
/* CONTACTO */
/* *********** */
.LinkUbi{
    text-decoration: none;
    color: #fff;
}
.contacto{
    color: #fff;
    background:linear-gradient( rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),url(img/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px 20px;

}
.contacto .contenido-seccion{
    max-width: 800px;
    margin: auto;
}
.contacto .contenedor-titulo{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.contacto  .contenedor-titulo .numero{
    color: #feec02;
    font-weight: bold;
    display: block;
    font-size: 5rem;
}
.contacto .contenedor-titulo .info{
    margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase{
    color: #feec02;
}
.contacto .contenedor-titulo .info h2{
    font-size: 3rem;
}
.contacto .fila {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
}
.contacto .fila .col {
    margin: 10px;
    width: 100%; /* Ajustar el ancho según sea necesario */
}
.contacto .fila {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}
.contacto .fila .col {
    margin: 10px;
    width: 100%; /* Ajustar el ancho según sea necesario */
}
.contacto .fila input {
    width: calc(121% - 50px); /* Ajuste el valor de 30px según el espacio que desee entre los campos */
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    font-weight: bold;
}
.contacto textarea {
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    outline: none;
    width: 100%;
    height: 200px;
}
.contacto button {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: none;
    background-color: #feec02;
    color: #000000;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.Terminos{
    text-align: center;
}
.contacto .fila-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}
.contacto i{
    color: #feec02;
    display: inline-block;
    margin-right: 10px;
}
input{
    text-align: center;
}

/* *********** */
/* FOOTER */
/* *********** */
footer{
    background-color: #151623;
    padding: 30px 0;
}
footer .info{
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    padding: 0 20px;
}
footer .info p{
    color: #797e8e;
}
footer .info a{
    text-decoration: none;
    color: #797e8e;
    display: inline-block;
    margin: 0 15px;
}
footer .info .redes a:hover{
    color: #feec02;
}

/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
    body {
        min-width: 90vh;
    }
    .servicios .info-servicios table td {
        padding: 15px;
    }
    header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    header .redes{
        display: none;
    }
    .contenedor-header {
        position: relative;
        padding: 0 20px;
    }
    #icono-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px; /* Ajusta este valor según la distancia que desees del borde derecho */
    }
    header h1 {
        margin-right: 60px; /* Ajusta este valor para darle más espacio al ícono */
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color:#151623;
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
    }
    .inicio .opciones{
        display: none;
    }
    .nosotros .fila{
        display: block;
    }
    .nosotros .fila .col{
        width: 100%;
        margin: auto;
    }
    .nosotros .fila .col img{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .servicios .contenido-seccion .fila{
        display: block;
    }
    .servicios .contenido-seccion .fila .col{
       width: 100%;
    }
    .comodidades .fila{
        display: block;
    }
    .comodidades .fila .col{
        width: 100%;
    }
    .comodidades .fila .col img{
        max-width: 200px;
    }
    .equipo .fila{
        display: block;
    }
    .equipo .fila .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .equipo .fila .col img{
        max-height: 200px;
    }
    .equipo .fila .info{
        max-width: 250px;
        margin: auto;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 90%;
        margin-bottom: 20px;
    }
    .mensaje{
        margin-left: 2%;
    }
    .contacto .fila-datos{
        margin-top: 15%;
        display: block;
    }
    .contacto .fila-datos .col{
        margin-bottom: 20px;
    }
    footer .info{
        display: block;
        text-align: center;
    }
    footer .info p{
        margin-bottom: 10px;
    }
}